.AddBlockSidebarMask {
  position: fixed;
  inset: 0;
  background: rgb(0, 0, 0, 0.5);
  background: radial-gradient(
    circle,
    rgba(0, 0, 0, 0.7) 0%,
    rgba(0, 0, 0, 0.5) 100%
  );
  opacity: 0;
  pointer-events: none;

  transition: opacity 420ms ease-in;
  z-index: 710;
}
.AddBlockSidebarMask.open {
  opacity: 1;
  pointer-events: all;
}

.AddBlockSidebar {
  --width: 300px;
  width: var(--width);
  height: 100%;
  position: fixed;
  top: 0;
  right: 0;

  transition: transform 420ms ease-in;

  background-color: light-dark(var(--gray-1), var(--gray-9));
  border-left: 4px solid;
  border-color: var(--border-color);

  z-index: 710;
}
.AddBlockSidebar .content {
  padding: 1rem;
  display: flex;
  flex-direction: column;
}

.AddBlockSidebar.closed {
  transform: translateX(var(--width));
}

.AddBlockSidebar.open {
  transform: translateX(var(0));
}

.AddBlockSidebar button,
.AddBlockSidebar input,
.AddBlockSidebar select {
  margin-bottom: 1rem;
  display: block;
}

.image-preview {
  width: 300px;
  height: 100px;
  margin-bottom: 1rem;
  background-size: cover;
  background-position: center;
}
