.manage-project-bar {
}

.project-list div {
  padding: 0 1rem;
}
.project-list ul {
  margin: 0;
  padding: 0;
}
.project-list li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  padding: 0.5rem 0.75rem;
  border: 2px solid var(--border-color);
  border-radius: 0.5rem;
  margin: 0;
  margin-bottom: 1rem;
}
.project-list li strong {
  margin-right: 1rem;
}
.project-list li em {
  font-size: 0.8rem;
}
.project-input-container {
  margin-top: 1rem;
}
.project-input-container input {
  margin-bottom: 1rem;
}
