.BlockButton {
  width: 100%;
  height: fit-content;
  text-align: left;
  position: relative;
  cursor: pointer;
  filter: drop-shadow(0px 4px 28.8px rgba(0, 0, 0, 0.25))
    drop-shadow(0px 4px 13.6px rgba(0, 0, 0, 0.3))
    drop-shadow(0px 4px 5.1px rgba(0, 0, 0, 0.3));
  --border-radius: 1.5rem;
}

.BlockButton .button-bg {
  position: absolute;
  inset: 0;
  z-index: 1;
  cursor: pointer;
}
.BlockButton .content:before {
  content: "";
  position: absolute;
  inset: 0px;
  z-index: -2;
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(4px);
  border-radius: inherit;
  border: 0.0625em solid rgba(255, 255, 255, 0.1);
  box-shadow: rgba(10, 10, 14, 0.1) 0px 2px 16px 0px;
  mask-image: linear-gradient(290deg, rgb(0, 0, 0), rgba(0, 0, 0, 0.25) 100%);
  border-radius: var(--border-radius);
}
.BlockButton .content {
  position: relative;
  /* background-color: light-dark(var(--gray-4), var(--gray-9)); */
  z-index: 421;
}

.BlockButton .imageContainer {
  padding: 0.5rem;
}

.BlockButton .image {
  position: relative;
  width: 100%;
  min-height: 300px;
  background-size: cover;
  background-position: center;
  border-radius: calc(var(--border-radius) / 1.5);
  border: 0.0625em solid rgba(255, 255, 255, 0.1);
  opacity: 0.7;
  transition: opacity 420ms ease-in;
}

.BlockButton .image:hover {
  opacity: 1;
}

.BlockButton .metadata {
  padding: 1rem 1rem;
}
.BlockButton .metadata svg {
  transform: translateY(2px);
}
.BlockButton img {
  width: 100%;
  min-height: 300px;
}

.BlockButton h3 {
  margin: 0;
  max-width: 225px;
  margin-bottom: 0.2rem;
  word-wrap: break-word;
}
.BlockButton h5 {
  width: 90%;
  max-width: 250px;
  line-height: 150%;
  color: light-dark(var(--gray-4), var(--gray-6));
  margin: 0;
  margin-bottom: 0.5rem;
  font-weight: 400;
  word-wrap: break-word;
}
.BlockButton .controls {
  position: absolute;
  top: 1rem;
  right: 1rem;
  z-index: 710;
  display: flex;
}
.BlockButton .controls button {
  padding: 0.25rem 0.5rem;
  margin-right: 0.5rem;
}
.BlockButton .controls button:last-child {
  margin-right: 0;
}
.BlockButton .controls svg {
  --fill: light-dark(var(--gray-6), var(--gray-4));
}
.BlockButton .controls svg:hover {
  --fill: light-dark(var(--blue-6), var(--blue-4));
}
.BlockButton .controls button svg {
  margin-right: 0;
}

.NotionIcon {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  opacity: 0.2;
  transition: opacity 220ms ease-in;
  z-index: 710;
}
.NotionIcon:hover {
  opacity: 1;
}
.NotionIcon svg path {
  transition: fill 220ms ease-in;
}
.NotionIcon:hover {
  --fill: var(--blue-8);
}
