.ProjectBar {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  border-bottom: 2px solid;
  border-color: var(--border-color);
}
.ProjectBar .content {
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.ProjectBar h2 {
  margin: 0;
}
.ProjectBar .content button,
.ProjectBar .content select {
  margin-right: 0.5rem;
}
.ProjectBar .content button:last-child {
  margin-right: 0;
}

.LogoContainer {
  display: inline-block;
  padding: 0.5rem 1rem;
  margin-right: 1rem;
}
.Logo {
  --fill: rgba(255, 255, 255, 0.5);
  width: 24px;
  height: 24px;
  margin-right: 1rem;
  transition: filter 420ms ease-in;
}
.Logo path {
  transition: fill 420ms ease-in;
}
.Logo:hover {
  filter: drop-shadow(0 0 10px var(--blue-6));
  --fill: var(--blue-6);
}

.centered-row {
  display: flex;
  align-items: center;
}
