.ProjectBar {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  border-bottom: 2px solid;
  border-color: var(--border-color);
}
.ProjectBar .content {
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.ProjectBar h2 {
  margin: 0;
}
.ProjectBar .content button,
.ProjectBar .content select {
  margin-right: 0.5rem;
}
.ProjectBar .content button:last-child {
  margin-right: 0;
}
