.ProjectView {
  padding: 1rem;
}
.ProjectGrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  grid-auto-rows: minmax(50px, auto);
}
.FilterProjects {
  display: flex;
  justify-content: stretch;
  flex-direction: column;
}

@media (min-width: 1280px) {
  .ProjectGrid {
    grid-template-columns: repeat(6, 1fr);
  }
}

.SearchContainer {
  align-items: center;
  margin-bottom: 1rem;
}
